header {
    font-size: 65px;
    font-family: 'Bodoni Moda', serif;
}

main {
    font-size: 35px
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: ivory;
    background: #2c3e50;
    font-size: 35px;
    overflow-x: hidden;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 125px 20vw;
}

.green {
    background: #16a085
}

.red {
    background: #560000
}

.light {
    background: #34495e
}

.blue {
    background: #2980b9
}

.scurve {
    position: absolute;
    height: 225px;
    width: 100%;
    bottom: 0;
}

.scurve::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 45%;
    width: 61%;
    height: 100%;
    background: #16a085;
    transform: translate(75%, 50%);
}

.scurve::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 45%;
    width: 61%;
    height: 100%;
    background: #2c3e50;
    transform: translate(-20%, 50%);
    z-index: 1;
}

.bubble {
    content: '';
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    bottom: 0;
    height: 20%;
    background: #34495e;
    z-index: -1;

}

.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 130px;
}

.wave .shape-fill {
    fill: #16a085;
}

.spacer {
    aspect-ratio: 900/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.waves {
    background-image: url('./images/waves.svg');
}

.bluewave {
    background-image: url('./images/bluewave.svg');
}

.flip {
    transform: rotate(180deg);
}

.blob-motion {
    position: absolute;
    transform: translateY(-20%);
    z-index: 0;
}